<title>余额充值</title>
<link rel="stylesheet" href="/assets/home/css/recharge.css" />

<body>
    <!-- 顶部 -->
    {include file="Common/back" /}

    <form class="mui-input-group" method="post">
        <div class="mui-input-row">
            <label class="title">当前余额(￥)：</label>
            <input type="number" readonly value="{$business.money}" />
        </div>
        <div class="mui-input-row">
            <label class="title">充值金额(￥)：</label>
            <input type="number" name="money" min="1" class="mui-input-clear money" placeholder="请输入充值金额" required />
        </div>

        <!--立即充值-->
        <div class="action">
            <button type="submit" class="mui-btn mui-btn-primary" style="margin:20px 0;">立即充值</button>
        </div>
    </form>

    <!-- 底部 -->
    {include file="Common/menu" /}
</body>
<script>
    $(document).ready(function () {
        // 选择具有 "title" 类的 div 元素，并将其文本内容设置为自定义值
        $(".mui-title").text("余额充值");
    });
</script>