<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover" />

    <!-- 公共css -->
    <link href="/assets/home/css/mui.min.css" rel="stylesheet" />
    <link href="/assets/home/css/reset.css" rel="stylesheet" />

    <!-- 公共js -->
    <script src="/assets/home/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/home/js/mui.min.js"></script>

    <style>
        body {
            max-width: 512px !important;
            margin: 0 auto !important;
        }
    </style>
</head>

<!-- 引入每个界面中私有的部分内容 -->
{__CONTENT__}

</html>