<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <!-- 供应商 -->
        <label class="control-label col-xs-12 col-sm-1">{:__('Supplierid')}:</label>
        <div class="col-xs-12 col-sm-2">
            <select id="c-supplier" class="form-control selectpicker" name="row[supplierid]">
                <option selected>请选择</option>
                {foreach name="supplierlist" item="vo"}
                <option value="{$vo.id}" {if condition="$vo.id eq $supplierdata['id']" }selected{/if}>{$vo.name}
                </option>
                {/foreach}
            </select>
        </div>

        <label class="control-label col-xs-12 col-sm-1">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-mobile" class="form-control" readonly name="row[mobile]" type="text"
                value="{$supplierdata['mobile']}">
        </div>

        <!-- 地址 -->
        <label class="control-label col-xs-12 col-sm-1">{:__('Region')}:</label>
        <div class="col-xs-12 col-sm-3">
            <div class='control-relative'>
                <input id="c-region" class="form-control" readonly type="text" name="row[region]"
                    value="{$supplierdata['address_text']}">
            </div>
        </div>

        <!-- 商品数据 -->
        <input type="hidden" name="row[product]" id="products">

        <!-- 商品总价 -->
        <input type="hidden" name="row[total]" id="total">

        <!-- 删除商品的id -->
        <input type="hidden" name="row[delproid]" id="delproid">
    </div>

    <div class="form-group">
        <!-- 入库类型 -->
        <label class="control-label col-xs-12 col-sm-1">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-2">
            <select id="c-type" class="form-control selectpicker" name="row[type]">
                <option selected>请选择</option>
                {foreach name="typelist" item="vo"}
                <option value="{$key}" {if condition="$key eq $row['type']" }selected{/if}>{$vo}</option>
                {/foreach}
            </select>
        </div>

        <!-- 总价 -->
        <!-- <label class="control-label col-xs-12 col-sm-1">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-amount" min="0" class="form-control" step="0.01" name="row[amount]" readonly type="number" value="0.00">
        </div> -->
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" class="form-control " rows="5" name="row[remark]"
                cols="50">{$row['remark']}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-1">
            <button type="button" class="btn btn-primary" id="product">添加商品</button>
        </label>
    </div>

    <div class="form-group">
        <table id="table" class="table table-striped table-bordered table-hover table-nowrap col-sm-10 control-label">
        </table>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>